<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS for Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>OpenSnow Scrape</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a id="clear">Clear</a></li>
                <li><a href="/favorites" id="favorites">Favorites</a></li>
            </ul>
        </div>
    </nav>
    <div class="mountain-image">
        {{!-- background image container --}}
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 center-align">
                    <h3 class="callout">Snow Now</h3>
                </div>
            </div>
            {{{body}}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
            <script src="assets/js/index.js"></script>
</body>

</html>